/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  background-color: #f8f9fa; /* Light gray background for the entire page */
}
.header {
  margin-bottom: 2rem;
}
.main {
  display: flex;
}

.anchor_name {
  font-size: 24px;
  font-family: monospace;
  color: coral;
}